/*setting all elements to have zero margin/padding*/
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/*the background CSS for this page*/
.hero {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.3)), url(../landing.jpeg);
    background-position: center;
    background-size: cover;
    position: absolute;
}
/*the basic form box to hold the rest of the information*/
.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: rgb(226,226,226);
    padding: 5px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 3px;
    overflow: hidden;
}
/*CSS for the login/register box*/
.button-box{
    width: 220px;
    margin: 35px;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}
/*css to show the switch on the login/register box*/
.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
/* this is the button css for the login/register switch*/
#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #33bb11, #068b1c);
    border-radius: 50px;
    transition: .5s;
}
/*this is css for the login page */
.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
/* this is the css the register page*/
.input-group2{
    top: 75px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
/*this is css for the required inputs */
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
/*css for the submit button*/
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #33bb11, #068b1c);
    border: 0;
    outline: none;
    border-radius: 30px;
}
/*css for the check box */
.check-box {
    margin: 30px 3px 30px 0;
}
/*css for the <label> tags*/
label {
    color: #777;
    font-size: 12px;
    bottom: 68px;
}
/*places the login on the left of the switch*/
#login{
    left: 50px;
}
/*places the register on the left of the switch*/
#register{
    left: 450px;
}