/*this is the sub box css*/
.subBox{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: rgb(226,226,226);
    padding: 5px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 3px;
    overflow: hidden;
}
/*this is the <p> css for the text in the sub box*/
p {
    text-align: center;
    letter-spacing: 2px;
    color: rgba(20, 18, 18, 0.918);
}
/* this is the CSS for the cancel button*/
.cancel-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #33bb11, #068b1c);
    border: 0;
    outline: none;
    border-radius: 30px;
}